.layerListItem { /* stylelint-ignore */
  padding-top: 10px;
}

/*a {
  color: black;
  opacity: 0.6;
}

a:hover {
  color: black;
  opacity: 1;
}

a.active {
  color: red;
}

a.enabled {
  color: blue;
}*/
