
.container {
  display: flex;
  background-color: #f5f8fa;
  flex-direction: row;
}

.main {
  flex: 0.6;
}

.right {
  width: 50%;
  padding: 10px;
  align-self: flex-start;
}

.insight {
  margin: 20px;
}

.menu {
  flex: 0.2;
  padding: 20px;
}
