.container {
  height: 100vh;
  width: 100vw;
}

.nonDrawer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.mapContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.leftDrawer {
  position: absolute;
  left: 0;
  height: calc(100vh - 70px);
  top: 70px;
  width: 25vw;
  pointer-events: none;
}

.rightDrawer {
  position: absolute;
  left: 75vw;
  height: calc(100vh - 70px);
  top: 70px;
  width: 25vw;
  pointer-events: none;
}

.bottomDrawer {
  position: absolute;
  left: 25vw;
  top: 65vh;
  height: 35vh;
  width: 50vw;
  display: flex;
  pointer-events: none;
  padding: 10px;
}

.topDrawer {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 10vh;
  text-align: center;
  width: 98vw;
  display: flex;
  pointer-events: none;
}

.infoBar {
  position: absolute;
  left: 0;
  height: 70px;
  top: calc(100vh - 50px);
  width: 100vw;
  pointer-events: none;
  display: flex;
  padding: 20px;
}
