.App {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;

  text-align: left;

  & a {
    text-decoration: none;
    text-transform: none;
  }

  height: 100vh;
  background-color: #f5f8fa;
}

.Content {
  min-height: 84vh;
}

.container {
  display: flex;
  background-color: #f5f8fa;
  flex-direction: row;
  width: 100%;
}

.main {
  width: 80%;
  display: flex;
  padding: 20px;
}

.menu {
  width: 20%;
  flex: 0.2;
  padding: 20px;
}

