.layerList { /* stylelint-ignore */
  padding-top: 10px;
  width: 100%;
}

.innerLayerList {
  pointer-events: all;
  overflow: scroll;
  max-height: 100%;
}

.layerListItem { /* stylelint-ignore */
  padding-top: 10px;
}

a {
  color: black;
  opacity: 0.6;
}

a:hover {
  color: black;
  opacity: 1.0;
}

a.active {
  color: red;
}

a.enabled {
  color: blue;
}
