.layerList { /* stylelint-ignore */
  padding-top: 10px;
  width: 100%;
}

.innerLayerList {
  pointer-events: all;
  overflow: visible;
  max-height: 100%;
}

.layerListItem { /* stylelint-ignore */
  padding-top: 10px;
}

.layerListItem a {
  color: black;
  opacity: 0.6;
}

.layerListItem a:hover {
  color: black;
  opacity: 1;
}

.layerListItem a.active {
  color: red;
}

.layerListItem a.enabled {
  color: blue;
}
