.toolbar { /* stylelint-ignore */
  pointer-events: all;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.brand { /* stylelint-ignore */
  text-align: center;
  vertical-align: middle;
}

img.logo {
  height: 70%;
  /*padding-bottom: 7px;*/
}

.tight-item {
  padding: 5px;
}
