
.container {
  display: flex;
  background-color: #f5f8fa;
  flex-direction: column;
  padding: 10px;
}

.card {
  flex: 1;
  margin-bottom: 20px;
}

.right {
  width: 50%;
  padding: 10px;
  align-self: flex-start;
}
