
.container {
  display: flex;
  background-color: #f5f8fa;
  flex-direction: row;
  width: 100%;
}

.main {
  display: flex;
  background-color: #f5f8fa;
  flex-direction: column;
  margin-right: 10px;
  width: 75%;
}

.right {
  display: flex;
  background-color: #f5f8fa;
  flex-direction: column;
  width: 25%;
  padding-left: 20px;
}

.card {
  flex: 1;
  margin-bottom: 20px;
  width: 100%;
}

.subCard {
  margin-left: 50px;
  flex: 1;
  margin-bottom: 20px;
  padding-bottom: 0px;
}

.subInsight {
  margin: 5px;
}

.subInsightContainer {
  margin-top: 10px;
  margin-bottom: 10px;
}

.plotControls {

}