
.container {
  display: flex;
  background-color: #f5f8fa;
  flex-direction: row;
  width: 100%;
}

.main {
  display: flex;
  background-color: #f5f8fa;
  flex-direction: column;
  margin-right: 10px;
  width: 75%;
}

.splitRow {
  flex-direction: row;
  flex: 1;
  display: flex;
}

.splitLeft {
  flex: 0.5;
}

.splitRight {
  flex: 0.5;
}
