
.innerContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  z-index: 900;
  height: 100vh;
}

.innerContainer2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  z-index: 900;
  height: 100vh;
}

.container {
  height: calc(100vh - 70px);
  width: 100vw;
}

/*.pusher {
  width: 100%;
  height: 100%;
  z-index: 900;
}*/
