.layerList { /* stylelint-ignore */
  pointer-events: all;
  flex: 1;
  overflow: auto;
}

.innerLayerList {
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.layerListItem { /* stylelint-ignore */
  padding-top: 10px;
}
